@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

ul.menu {
  padding: 0px;
  list-style: none;
}

li.menu-item {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  background-color: black;
  border-radius: 5px;
}

li.menu-item:hover {
  background-color: grey;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
}
