body, html {
  height: 100%;
}

h1, h2, h3, h4 {
  margin: 0px;
}

.background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blur {
  -webkit-transition: all 3s ease;
     -moz-transition: all 3s ease;
       -o-transition: all 3s ease;
          transition: all 3s ease;
  -webkit-filter: blur(7px);
     -moz-filter: blur(7px);
       -o-filter: blur(7px);
      -ms-filter: blur(7px);
          filter: blur(7px);
}

.form-container {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 40%;
  height: 40%;
  padding: 20px;
  background: white;
  opacity: 0.8;
}
