@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

.container {
  padding: 20px;
}

h1, h2, h3, h4 {
  margin: 0px;
}

a {
  color: #3366ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu li a {
  font-size: 22px;
  color: black;
}

.menu li a:hover {
  color: white;
  background: red;
  text-decoration: none;
}

a.back {
  color: black;
  text-decoration: none;
}
.container {
  width: 100%;
}

div.sample {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 5px;
  line-height: 150px;
  text-align: center;
  font-size: 30px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.samples {
  margin-top: 30px;
}

div.kick {
  background-color: #333333;
}

div.clap {
  background-color: #666666;
}

div.hat {
  background-color: #999999;
}

img.beatroot {
  width: 36px;
  height: 36px;
}

.brand {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
}

.header-brand {
  margin: 0px;
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding-left: 10px;
  line-height: 70px;
  background-color: black;
}

.content {
  margin-top: 90px;
}
